@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Documentos.Albaranes
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.Regularizacion.AsistenteRegularizacionGruposModel
@{
    
   
}


<form class="form-horizontal" id="step3-form">
    <div class="well fa-2x">
        Est&aacute; a punto de generar dos asientos de regularizaci&oacute;n de grupos 6 y 7, uno del saldo deudor y otro del saldo acreedor.<br />
        El estado del ejercicio pasar&aacute; a 'Regularizaci&oacute;n Grupos 6 y 7'.<br />
        ¿Est&aacute; seguro que desea continuar?<br />
    </div>
</form>