@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Documentos.Albaranes
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.Regularizacion.AsistenteRervertirEstadoEjercicioModel
@{
    
   
}


<form class="form-horizontal" id="step2-form">
    <div class="well fa-2x">
        Est&aacute; a punto de eliminar los asientos y cambiar el estado del ejercicio al estado seleccionado<br />
        ¿Est&aacute; seguro que desea continuar?<br />
        Este proceso puede tardar varios minutos.
    </div>
</form>