@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Documentos.Albaranes
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.Albaranes.AsistenteLecturasModel
@{
    
   
}


<form class="form-horizontal" id="step3-form">
    <div class="well fa-2x">
        Las lecturas seleccionadas se insertar&aacute;n en la entrega y se marcar&aacute;n como importadas.<br />
    </div>
</form>